Inserting variables into output

In [2]:
artist = "M Quinn"
year = 2020

output = "{} is launching some artwork in {}".format(artist, year)
print(output)

M Quinn is launching some artwork in 2020

In [3]:
output = f'{artist} is launching some artwork in {year}'
print(output)

M Quinn is launching some artwork in 2020

Formatting Numbers

*Format Specifications*:

{var:.2f}

*var* indicates the variable to insert

*.2f* indicates the decimal places

In [16]:
num = 77.2342342
print("I own {pct: .2f}% of the company".format(pct=num))

I own  77.23% of the company

For larger numbers, to add a comma run it like this:

In [19]:
num = 10432432431
print("The number: {:,}, is pretty large!".format(num))

The number: 10,432,432,431, is pretty large!

Adding dollar signs and alladat

In [25]:
num = 4321.342432
print("My bank balance: ${:,.2f}".format(num))

My bank balance: $4,321.34

In [32]:
for x, y in gender.items():
    print("There are {:,} artworks by {} artists".format(y, x))

There are 56 artworks by male artists
There are 456 artworks by female artists