<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Read-in-the-data" data-toc-modified-id="Read-in-the-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Read in the data</a></span></li><li><span><a href="#Read-in-the-surveys" data-toc-modified-id="Read-in-the-surveys-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Read in the surveys</a></span></li><li><span><a href="#Add-DBN-columns" data-toc-modified-id="Add-DBN-columns-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Add DBN columns</a></span></li><li><span><a href="#Convert-columns-to-numeric" data-toc-modified-id="Convert-columns-to-numeric-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Convert columns to numeric</a></span></li><li><span><a href="#Condense-datasets" data-toc-modified-id="Condense-datasets-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Condense datasets</a></span></li><li><span><a href="#Convert-AP-scores-to-numeric" data-toc-modified-id="Convert-AP-scores-to-numeric-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Convert AP scores to numeric</a></span></li><li><span><a href="#Combine-the-datasets" data-toc-modified-id="Combine-the-datasets-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Combine the datasets</a></span></li><li><span><a href="#Add-a-school-district-column-for-mapping" data-toc-modified-id="Add-a-school-district-column-for-mapping-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Add a school district column for mapping</a></span></li><li><span><a href="#Find-correlations" data-toc-modified-id="Find-correlations-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Find correlations</a></span></li><li><span><a href="#Plotting-survey-correlations" data-toc-modified-id="Plotting-survey-correlations-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Plotting survey correlations</a></span></li></ul></div>

# Read in the data

In [1]:
import pandas as pd
import numpy
import re

data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]

data = {}

for f in data_files:
    d = pd.read_csv("schools/{0}".format(f))
    data[f.replace(".csv", "")] = d

# Read in the surveys

In [2]:
all_survey = pd.read_csv("schools/survey_all.txt", delimiter="\t", encoding='windows-1252')
d75_survey = pd.read_csv("schools/survey_d75.txt", delimiter="\t", encoding='windows-1252')
survey = pd.concat([all_survey, d75_survey], axis=0)

survey["DBN"] = survey["dbn"]

survey_fields = [
    "DBN", 
    "rr_s", 
    "rr_t", 
    "rr_p", 
    "N_s", 
    "N_t", 
    "N_p", 
    "saf_p_11", 
    "com_p_11", 
    "eng_p_11", 
    "aca_p_11", 
    "saf_t_11", 
    "com_t_11", 
    "eng_t_11", 
    "aca_t_11", 
    "saf_s_11", 
    "com_s_11", 
    "eng_s_11", 
    "aca_s_11", 
    "saf_tot_11", 
    "com_tot_11", 
    "eng_tot_11", 
    "aca_tot_11",
]
survey = survey.loc[:,survey_fields]
data["survey"] = survey

# Add DBN columns

In [3]:
data["hs_directory"]["DBN"] = data["hs_directory"]["dbn"]

def pad_csd(num):
    string_representation = str(num)
    if len(string_representation) > 1:
        return string_representation
    else:
        return "0" + string_representation
    
data["class_size"]["padded_csd"] = data["class_size"]["CSD"].apply(pad_csd)
data["class_size"]["DBN"] = data["class_size"]["padded_csd"] + data["class_size"]["SCHOOL CODE"]

# Convert columns to numeric

In [4]:
cols = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']
for c in cols:
    data["sat_results"][c] = pd.to_numeric(data["sat_results"][c], errors="coerce")

data['sat_results']['sat_score'] = data['sat_results'][cols[0]] + data['sat_results'][cols[1]] + data['sat_results'][cols[2]]

def find_lat(loc):
    coords = re.findall("\(.+, .+\)", loc)
    lat = coords[0].split(",")[0].replace("(", "")
    return lat

def find_lon(loc):
    coords = re.findall("\(.+, .+\)", loc)
    lon = coords[0].split(",")[1].replace(")", "").strip()
    return lon

data["hs_directory"]["lat"] = data["hs_directory"]["Location 1"].apply(find_lat)
data["hs_directory"]["lon"] = data["hs_directory"]["Location 1"].apply(find_lon)

data["hs_directory"]["lat"] = pd.to_numeric(data["hs_directory"]["lat"], errors="coerce")
data["hs_directory"]["lon"] = pd.to_numeric(data["hs_directory"]["lon"], errors="coerce")

# Condense datasets

In [5]:
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]

class_size = class_size.groupby("DBN").agg(numpy.mean)
class_size.reset_index(inplace=True)
data["class_size"] = class_size

data["demographics"] = data["demographics"][data["demographics"]["schoolyear"] == 20112012]

data["graduation"] = data["graduation"][data["graduation"]["Cohort"] == "2006"]
data["graduation"] = data["graduation"][data["graduation"]["Demographic"] == "Total Cohort"]

In [15]:
data['ap_2010']

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,10.0
1,01M450,EAST SIDE COMMUNITY HS,19.0,21.0,NaN
2,01M515,LOWER EASTSIDE PREP,24.0,26.0,24.0
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255.0,377.0,191.0
4,02M296,High School of Hospitality Management,NaN,NaN,NaN
5,02M298,Pace High School,21.0,21.0,NaN
6,02M300,"Urban Assembly School of Design and Construction,",99.0,117.0,10.0
7,02M303,"Facing History School, The",42.0,44.0,NaN
8,02M305,"Urban Assembly Academy of Government and Law, The",25.0,37.0,15.0
9,02M308,Lower Manhattan Arts Academy,NaN,NaN,NaN
10,02M400,HS FOR ENVIRONMENTAL STUDIES,213.0,298.0,152.0
11,02M408,PROFESSIONAL PERFORMING ARTS,20.0,20.0,15.0
12,02M411,BARUCH COLLEGE CAMPUS HS,78.0,115.0,88.0
13,02M412,NYC LAB HS FOR COLL. STUDIES,114.0,140.0,97.0
14,02M413,SCHOOL OF THE FUTURE,11.0,11.0,NaN
15,02M414,NYC MUSEUM SCHOOL,NaN,NaN,NaN
16,02M416,Eleanor Roosevelt High School,155.0,235.0,169.0
17,02M418,Millennium High School,86.0,95.0,67.0
18,02M420,HEALTH PROF & HUMAN SVCS,204.0,248.0,75.0
19,02M425,H S FOR LEADERSHIP & PUBLIC,70.0,84.0,32.0
20,02M429,LEGACY SCHOOL,22.0,26.0,NaN
21,02M439,MANHATTAN VILLAGE ACADEMY HS,42.0,69.0,29.0
22,02M440,HS FOR HUMANITIES,6.0,6.0,NaN
23,02M459,CES-MANHATTAN INTERNATIONAL,12.0,12.0,6.0
24,02M460,WASHINGTON IRVING HS,69.0,83.0,21.0
25,02M475,STUYVESANT HS,1510.0,2819.0,2648.0
26,02M489,HS OF ECONOMICS & FINANCE,101.0,176.0,78.0
27,02M519,TALENT UNLIMITED,30.0,34.0,21.0
28,02M520,MURRY BERGTRAUM H.S.,118.0,157.0,76.0
29,02M529,JACQUELINE K. ONASSIS HS,80.0,118.0,29.0
...,...,...,...,...,...
228,28Q620,THOS A EDISON VHS,183.0,244.0,100.0
229,28Q680,GATEWAY TO HEALTH SCIENCES,89.0,136.0,57.0
230,28Q687,Queens HS for Science York Colllege,215.0,338.0,275.0
231,28Q690,High School for Law Enforcement and Public Safety,19.0,19.0,NaN
232,28Q896,"Young Women's Leadership School, Queens",6.0,6.0,NaN
233,29Q248,Queens Preparatory Academy,15.0,15.0,NaN
234,29Q259,Pathways College Preparatory School: A College...,29.0,71.0,NaN
235,29Q272,George Washington Carver High School for the S...,14.0,21.0,NaN
236,29Q283,Preparatory Academy for Writers,40.0,43.0,NaN
237,29Q420,SPRINGFIELD GARDENS HS,NaN,NaN,NaN
238,29Q492,MATH/SCIENCE RESEARCH TECH CTR,22.0,31.0,8.0
239,29Q496,BUSINESS/COMPUTER APPLICATIONS,NaN,NaN,NaN
240,30Q445,WM CULLEN BRYANT HS,243.0,330.0,97.0
241,30Q450,LONG ISLAND CITY HS,406.0,805.0,169.0
242,30Q501,FRANK SINATRA HIGH SCHOOL,108.0,136.0,38.0
243,30Q502,INFORMATION TECHNOLOGY HS,51.0,74.0,13.0
244,30Q555,NEWCOMERS HS:ACAD AMER STD,119.0,163.0,140.0
245,30Q575,ACADEMY OF AMER. STUDIES HS,101.0,170.0,119.0
246,31R080,PS 080 MICHAEL J. PETRIDES,162.0,243.0,66.0
247,31R440,NEW DORP HS,96.0,118.0,62.0
248,31R445,PORT RICHMOND HS,194.0,304.0,76.0
249,31R450,CURTIS HS,247.0,295.0,90.0
250,31R455,TOTTENVILLE HS,396.0,687.0,206.0
251,31R460,SUSAN E. WAGNER HS,279.0,408.0,175.0
252,31R600,RAPLH MCKEE VHS,NaN,NaN,NaN
253,31R605,STATEN ISLAND TECHNICAL HS,528.0,905.0,809.0
254,32K545,EBC-HS FOR PUB SERVICE (BUSH),47.0,64.0,13.0
255,32K552,Academy of Urban Planning,76.0,100.0,10.0
256,32K554,All City Leadership Secondary School,7.0,8.0,NaN
257,32K556,Bushwick Leaders High School for Academic Exce...,34.0,35.0,18.0

# Convert AP scores to numeric

In [6]:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

for col in cols:
    data["ap_2010"][col] = pd.to_numeric(data["ap_2010"][col], errors="coerce")

# Combine the datasets

In [7]:
combined = data["sat_results"]

combined = combined.merge(data["ap_2010"], on="DBN", how="left")
combined = combined.merge(data["graduation"], on="DBN", how="left")

to_merge = ["class_size", "demographics", "survey", "hs_directory"]

for m in to_merge:
    combined = combined.merge(data[m], on="DBN", how="inner")

combined = combined.fillna(combined.mean())
combined = combined.fillna(0)

# Add a school district column for mapping

In [8]:
def get_first_two_chars(dbn):
    return dbn[0:2]

combined["school_dist"] = combined["DBN"].apply(get_first_two_chars)

# Find correlations

In [9]:
correlations = combined.corr()
correlations = correlations["sat_score"]
print(correlations)

SAT Critical Reading Avg. Score         0.986820
SAT Math Avg. Score                     0.972643
SAT Writing Avg. Score                  0.987771
sat_score                               1.000000
AP Test Takers                          0.523140
Total Exams Taken                       0.514333
Number of Exams with scores 3 4 or 5    0.463245
Total Cohort                            0.325144
CSD                                     0.042948
NUMBER OF STUDENTS / SEATS FILLED       0.394626
NUMBER OF SECTIONS                      0.362673
AVERAGE CLASS SIZE                      0.381014
SIZE OF SMALLEST CLASS                  0.249949
SIZE OF LARGEST CLASS                   0.314434
SCHOOLWIDE PUPIL-TEACHER RATIO               NaN
schoolyear                                   NaN
fl_percent                                   NaN
frl_percent                            -0.722225
total_enrollment                        0.367857
ell_num                                -0.153778
ell_percent                            -0.398750
sped_num                                0.034933
sped_percent                           -0.448170
asian_num                               0.475445
asian_per                               0.570730
black_num                               0.027979
black_per                              -0.284139
hispanic_num                            0.025744
hispanic_per                           -0.396985
white_num                               0.449559
                                          ...
rr_p                                    0.047925
N_s                                     0.423463
N_t                                     0.291463
N_p                                     0.421530
saf_p_11                                0.122913
com_p_11                               -0.115073
eng_p_11                                0.020254
aca_p_11                                0.035155
saf_t_11                                0.313810
com_t_11                                0.082419
eng_t_11                                0.036906
aca_t_11                                0.132348
saf_s_11                                0.337639
com_s_11                                0.187370
eng_s_11                                0.213822
aca_s_11                                0.339435
saf_tot_11                              0.318753
com_tot_11                              0.077310
eng_tot_11                              0.100102
aca_tot_11                              0.190966
grade_span_max                               NaN
expgrade_span_max                            NaN
zip                                    -0.063977
total_students                          0.407827
number_programs                         0.117012
priority08                                   NaN
priority09                                   NaN
priority10                                   NaN
lat                                    -0.121029
lon                                    -0.132222
Name: sat_score, Length: 67, dtype: float64

# Plotting survey correlations

In [10]:
# Remove DBN since it's a unique identifier, not a useful numerical value for correlation.
survey_fields.remove("DBN")